


.anchorPane {
    -fx-background-color:transparent;
    -fx-border-width: 2px 2px 2px 2px;
    -fx-background-radius: 20px;
    -fx-border-style: solid;
    -fx-background-radius: 20px;

}
.searchtext {
    -fx-background-radius: 5px;

    -fx-font-style: antialiased;
}
.listView {
    -fx-background-radius: 5px;
    -font-style: italic;
    -fx-font: italic;
    -fx-font-weight: bold;
    -fx-font-style: italic;
    -fx-background-color: whitesmoke;
}

 .flag {
    -fx-background-color: deepskyblue;
     -fx-background-radius: 10px;
     -fx-font-style: italic;
     -fx-font-size: 20px;
 }

 .delete_word {
     -fx-background-radius: 10px;
     -fx-font-style: italic;
     -fx-background-color: lightgreen;

 }

 .wordLabel {
     -fx-background-color: dodgerblue;
     -fx-font-style: italic;
     -fx-font-size: 10px;
     -fx-background-radius: 10px;

 }

 .mainAnchorPane {
     -fx-background-color: seashell;
 }

 .meaningArea {
     -fx-background-color: seashell;
     -fx-font-style: italic;
     -fx-font-size: 20px;
     -fx-border-color: brown;
     -fx-border-radius: 10px;
 }
 .addAnchorPane {
     -fx-background-color:transparent;
     -fx-border-width: 2px 2px 2px 2px;
     -fx-background-radius: 20px;
     -fx-border-style: solid;
     -fx-background-radius: 20px;

 }

 .wordLabel1 {
     -fx-background-color: skyblue;
     -fx-background-radius: 10px;
     -fx-border-radius: 10px;
     -fx-border-color: brown;
     -fx-font-style: italic;
     -fx-font-style: bold;
 }
 .meaningLabel1 {
     -fx-background-color: skyblue;
     -fx-background-radius: 10px;
     -fx-border-radius: 10px;
     -fx-border-color: brown;
     -fx-font-style: italic;
     -fx-font-style: bold;
 }

 .confirm {
     -fx-border-color: mediumaquamarine;
     -fx-border-radius: 10px;
     -fx-border-style: solid;
     -fx-background-color: springgreen;
     -fx-background-radius: 10px;
 }
.loglabel {
     -fx-background-color: yellowgreen ;
    -fx-background-radius: 20px;

 }
.logstatus {
    -fx-background-color: lightgoldenrodyellow ;
    -fx-background-radius: 20px;
    -fx-font-style: italic;
    -fx-font-size: 15px;


}
.word {
    -fx-background-radius: 10px;
    -fx-font-style: bold;
    -fx-font-size: 20;
}
.meaning {
    -fx-background-radius: 10px;
    -fx-font-style: bold;
    -fx-font-size: 20;


}
.update_word {
    -fx-border-radius: 10px;
    -fx-border-color: transparent;
    -fx-background-color: lightgreen;
    -fx-background-radius: 10px;
}
.delete_word {
    -fx-border-radius: 10px;
    -fx-border-color: transparent;
    -fx-background-color: tomato;
    -fx-background-radius: 10px;
}

.engtext {
    -fx-border-color : brown;
}

.vitext {
    -fx-border-color: brown;
}

.trans {
    -fx-border-color : lightgreen;
    -fx-border-radius: 15px;
    -fx-background-color: limegreen;
    -fx-background-radius: 15px;
}