


.anchorPane {
    -fx-background-color:transparent;
    -fx-border-width: 2px 2px 2px 2px;
    -fx-background-radius: 20px;
    -fx-border-style: solid;
    -fx-background-image: url(iconandimage/blue_vector.jpg);
    perspective: 1000px;

}

.head {
    -fx-background-image: url(iconandimage/headerbg.jpg);
}
.searchtext {
    -fx-background-radius: 5px;
    -fx-font-size: 1.5em;

}
.listView {
    -fx-background-radius: 5px;
    -fx-font-size: 1.5em;
    -fx-animated: both;
    -fx-animation-name: autofill;
    -fx-animation-duration: 100s;

    -fx-background-color: whitesmoke;
}

 .flag {
    -fx-background-color: deepskyblue;
     -fx-background-radius: 10px;
     -fx-alignment: center;
     -fx-font-size: 20px;
 }

 .delete_word {
     -fx-border-radius: 10px;
 }

 .wordLabel {
     -fx-background-color: dodgerblue;

     -fx-font-size: 10px;
     -fx-background-radius: 10px;

 }

 .mainAnchorPane {
     -fx-background-color: seashell;

 }

 .meaningArea {
     -fx-font-size: 15px;
     -fx-background-radius: 15px;
     -fx-border-style: solid;
     -fx-border-width: 2px;
     -fx-border-color: black;
     -fx-border-radius: 10px;
 }
 .addAnchorPane {
     -fx-background-color:transparent;
     -fx-border-width: 2px 2px 2px 2px;
     -fx-background-radius: 20px;
     -fx-border-style: solid;
     -fx-background-image: url(iconandimage/blue_vector.jpg);
     -fx-background-size : cover;


 }

 .wordLabel1 {
     -fx-background-color: skyblue;
     -fx-background-radius: 10px;
     -fx-border-radius: 10px;
     -fx-border-color: brown;


 }
 .meaningLabel1 {
     -fx-background-color: skyblue;
     -fx-background-radius: 10px;
     -fx-border-radius: 10px;
     -fx-border-color: brown;


 }

 .confirm {
     -fx-border-color: gray;
     -fx-border-radius: 10px;
     -fx-border-style: solid;
     -fx-background-color: whitesmoke;
     -fx-background-radius: 10px;
 }
.loglabel {
     -fx-background-color:  lightgoldenrodyellow;
    -fx-background-radius: 20px;


 }
.logstatus {
    -fx-background-color: lightgoldenrodyellow ;
    -fx-background-radius: 20px;
    -fx-alignment: center;
    -fx-font-size: 15px;


}
.word {
    -fx-background-radius: 10px;

    -fx-font-size: 20;
}
.meaning {
    -fx-background-radius: 10px;

    -fx-font-size: 20;


}
.update_word {
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
    -fx-border-color: black;
}
.delete_word {
    -fx-border-radius: 10px;
    -fx-border-color: transparent;
    -fx-background-radius: 10px;
    -fx-alignment: center;
}

.engtext {
    -fx-font-size : 25px;
    -fx-background-radius: 50px;

    -fx-border-radius: 10px;
}

.vitext {
    -fx-font-size : 25px;
    -fx-background-radius: 50px;

    -fx-border-radius: 10px;
}

.trans {
    -fx-background-color: lavender;
    -fx-border-color : black;
}

.api {
    -fx-background-image: url(iconandimage/blue_vector.jpg);
}
.sound {
    -fx-border-color: black;
    -fx-border-radius: 10px;
}

.sound  .sound_image {

}


.custom-alert {
    -fx-background-color: black; /* Background color */
    -fx-background-image: url(iconandimage/bg.jpg);
    -fx-border-color: black; /* Border color */
    -fx-border-width: 1px; /* Border width */
    -fx-border-radius: 5px; /* Border radius */

}

.custom-alert .label {
    -fx-text-fill: black; /* Text color */
    -fx-font-size: 12px; /* Font size */
}

.updatedialog {
    -fx-font-size: 12px;
    -fx-background-image: url(iconandimage/bg.jpg);
    -fx-border-color: black;
    -fx-border-radius: 10px;
}